.container {
    /* width: 300px; */
    height: fit-content;
    background-color: black;
    /* padding: 8px; */
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 100%;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}
