.registration_mainMenu {
  padding: 0px;
  margin: 0px;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  color: rgb(255, 255, 255);
  /* right: 10px; */
  z-index: 999;
  font-size: 12px;
}
.authentication_link {
  color: rgba(127, 255, 255, 1);
  padding-left: 10px;
}

.authentication_link:hover {
  color: lightskyblue;
  padding-left: 10px;
}

.authentication_welcome {
  color: aliceblue;
}

.auth_in_mainMenu {
  position: absolute;
  top: 0;
  z-index: 889;
  right: 20px;
}
