.registration-div {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  display: flex;
}

.registration-form {
  width: 500px;
  height: 325px;
  background-color: white;
  opacity: 1;
  margin: auto;
}

.registration-form-congrat {
  width: 500px;
  height: 325px;
  background-color: white;
  opacity: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.congrat-text {
  text-align: center;
  font-size: 22px;
  line-height: 1.8;
}

.registration-close {
  border-radius: 0px;
  border-style: none;
  height: 20px;
  width: 20px;
  background-color: white;
}

.registration-form-header {
  display: grid;
  grid-template-columns: 1fr 12fr 0.8fr;
  margin-bottom: 10px;
}

.registration-form-title {
  /* align-items: center; */
}

.registration-form h1 {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  /* margin-right: auto; */
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 30px;
  padding-top: 25px;
  align-self: flex-end;
}

.registration-form p {
  margin-left: 30px;
  font-size: 18px;
}

.registration-form img {
  padding-top: 20px;
  padding-left: 30px;
}

.registration-form-inputs {
  display: flex;
  flex-direction: column;
}

.registration-form-inputs input {
  margin: 5px 25px;
  height: 18px;
}

.registration-form-register {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background: #101010;
  border-radius: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #7fffff;
}

.registration-form-buttons {
  align-self: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-form-inputs button:hover {
  background: greenyellow;
  color: black;
  border-color: indigo;
}

.registration-form-error {
  align-self: center;
  color: red;
}
.registration-form-IHaveLogin {
  color: black;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background: white;
  border-radius: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;
  border-width: 1px;
}
