.container {
    width: 100vw;
    height: 24px;
    background-color: black;
    /* padding: 8px; */
    user-select: none;
    display: flex;
}

.title{
    margin: auto;
    font-weight: 500;
    font-size: larger;
}